* {
    box-sizing:border-box;
}
.seat-booking {
    padding: 10px;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

button {
    padding: 10px;
    width: 100px;
    background-color:blue;
    color: white;
}
.seats-s::before {
    background: green;
}

.seats
{
  border:1px solid red;background:yellow;
} 